<!DOCTYPE html>
<html>
    <head>
        <title>flaskLog4py</title>
        <style>
            .container {width: 90em;overflow-x: auto;white-space: nowrap;height: 100%;} textarea{height: 500px;width: 95%;} p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 20px;} p.small {font-size: 15px; color:gray;}
        </style>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script>
            var delayTime = [tm];
            </script>
        <script type="text/javascript" src="{{url_for('static', filename='script.js')}}">
        </script>
    </head>
    <body>
        Loading.. (Make sure javascript is enabled.)
    </body>
</html>
