<!DOCTYPE html>
<html>
    <head>
        <style>
            .container {width: 90em;overflow-x: auto;white-space: nowrap;height: 100%;} textarea{height: 500px;width: 95%;} p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 20px;} p.small {font-size: 15px; color:gray;}
        </style>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script>
        
            function timeout(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            var url = "consoles";
            async function main(){
                while(true){
                    var req = $.get(url, function (data) { 
                        document.querySelector("body").innerHTML= data
                    }); 
                    req.error(function(jqXHR, textStatus, errorThrown) {
                        if (textStatus == 'timeout')
                            document.querySelector("body").innerHTML=`<p>Server timeout.</p>`

                        if (textStatus == 'error')
                            document.querySelector("body").innerHTML=`<p>Cannot find consoles!</p><p class="small">If you think this is an error, report it at <a href="https://github.com/ParentProfanities/flaskLog4py/issues">our github</a>. This page will automatically change if it finds any consoles to display.</p>`
                            return

                    });
                    await timeout([tm])
                }
            }
            main()
        </script>
    </head>
    <body>
        Loading.. (Make sure javascript is enabled.)
    </body></html>